
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: rgb(239, 193, 223);
    height: 100%;
    background-color: rgb(177, 195, 202);
}

header, footer {
    height: 10vh;
    background-color: #363746;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .5em;
}

header {
    text-transform: uppercase;

}
footer {
    font-size: .8rem;
    bottom: 0;
    color:#a5a6b0;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#screen canvas {
    margin: auto;
    /* Hide the gap for font descenders. */
    display: block;
}